.assign-turnaround-cell .assign-turnaround-expand-actions .expand-action {
    display: none;
}
.assign-turnaround-cell .assign-turnaround-expand-actions .collapse-action {
    display: inline-block;
}
.assign-turnaround-cell.collapsed .assign-turnaround-expand-actions .expand-action {
    display: inline-block;
}
.assign-turnaround-cell.collapsed .assign-turnaround-expand-actions .collapse-action {
    display: none;
}

.assign-turnaround-cell.collapsed .assign-turnaround-collapsible-content {
    display: none;
}

.assign-turnaround-collapsible-content ul {
    margin: .5rem 0 0;
}
